.wide{
    width: 100%;
}

.form-header{
    background-color:#B1AB99;
    height: 50px;
    padding: 10px;
    color: white;
}
/*div{
    border: 1px solid rgb(9, 255, 0);
}*/
.bold{
    border: 2px solid red;
    font-weight:600;
    margin-bottom: 5px;
}

.small-tip{
    font-size:0.8em;
    text-align: center;
}

.form-control
{
    margin-right: 2px;
}

.button-caffe{
    border: 2px solid #B1AB99;
    color: #B1AB99;
    margin-bottom: 15px ;
    margin-top: 15px ;
}
.button-caffe:hover{
    background-color: #B1AB99 !important;
    color: white !important;
    border: 2px solid #B1AB99;
}
.space{
    margin-right: 80px;
}
hr{
    border: 2px dashed #8CB9BB;
}
img{
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
}
.separator
{
    margin-bottom: 25px;
}
.form-check{
    margin: 0;
    padding: 0;
}

.none {
    display:none;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.formPopup {
  display: none;
  position: fixed;
  left:42%;
  top: 25%;
  z-index: 9;
}

/* Add styles to the form container */
.formContainer {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  border: 3px solid #B1AB99;
}

/* Full-width input fields */
.formContainer input[type=text], .formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.formContainer input[type=text]:focus, .formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.formContainer .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.7;
}

/* Add a red background color to the cancel button */
.formContainer .cancel {
  background-color: rgb(255, 0, 0);
}

/* Add some hover effects to buttons */
.formContainer .btn:hover, .open-button:hover {
  opacity: 1;
}